.misc-pub-rad-publish-container  {
	text-align: center;
}

.misc-pub-post-status,
.misc-pub-curtime,
.misc-pub-visibility,
#minor-publishing-actions,
#submitpost > #major-publishing-actions {
	/*display: none;*/
}

.misc-pub-rad-publish-container .ui-datepicker {
	margin: 1em auto;
}

/*.misc-pub-rad-publish-container .minute-input {
	vertical-align: middle;
}

.misc-pub-rad-publish-container .schedule {
	display: none;
}
*/

.pmb2-poststatus-label {
	line-height: 25px;
	padding: 2px 0;
}

.pmb2-datepicker {
	width: 40%;
}

.pmb2 .dashicons-calendar-alt,
.pmb2 .dashicons-clock {
	vertical-align: middle;
	width: 10%;
}
.pmb2-minute {
	width: 30px;
	vertical-align: middle;
}

#preview-action {
	float: left;
}
#preview-action .dashicons-search:before {
	vertical-align: middle;
}
.pmb2-password {
	display: none;
}

.pmb2-publish-inner {
	display: none;
}

.pmb2-publish-at-date-inner {
	display: none;
}